@import 'npm:@splidejs/splide/dist/css/splide-core.min.css';
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Averia Serif Libre', serif;
}

header {
  padding: 40px 40px 0px 40px;
  display: grid;
  grid-template-columns: 1fr 3fr 0.8fr;
  align-items: center;
  gap: 40px;
}

header > .logo {
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

h2, h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}

nav > ul {
  display: grid;
  gap: 10px;
  padding: 0px;
  width: 100%;
}

nav > ul > li {
  text-transform: uppercase;
  background-color: #016936;
  border-radius: 30px;
  width: 100%;
  font-size: 1rem;
  font-weight: lighter;
  list-style: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

nav > ul >li:hover {
  transform: scale(1.04);
  font-weight: bold;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  padding: 13px;
}

.intro {
  padding: 40px 0px 0px 0px;
  text-align: center;
}

.intro > .contenido {
  font-size: 1.1rem;
}

.presentacion > .contenido, .detalle > .contenido, .enlaces > .contenido {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.presentacion > .contenido > .texto.ancho {
  grid-column-start: 1;
  grid-column-end: 3;
}

.detalle > .contenido a, .enlaces > .contenido a, .creditos a {
  color: #016936;
}

.detalle > .contenido > .texto {
  display: grid;
  gap: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.detalle > .contenido > .texto > h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.presentacion > .contenido > .imagen > img, .detalle > .contenido > .imagen > figure > img, .enlaces > .contenido > .imagen > img {
  width: 100%;
}

.presentacion > .contenido > .texto.ancho > p, .detalle > .contenido > .texto.ancho > p {
  margin-bottom: 20px;
}

.presentacion > .contenido > .texto.ancho > figure {
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 40px 40px 40px;
}

.presentacion > .contenido > .texto.ancho > figure > figcaption, .detalle > .contenido > .imagen > figure > figcaption  {
  padding-top: 20px;
  text-align: center;
}

.presentacion > .contenido > .texto.ancho > figure > img, .presentacion > .contenido > .texto.ancho > figure > iframe {
  width: 100%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
}

#frase-celebre {
  font-weight: 700;
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 12px;
  display: block;
}

#frase-celebre::before {
  content: '<< ';
  font-size: 1rem;
  font-style: italic;
}

#frase-celebre::after {
  content: ' >>';
  font-size: 1rem;
  font-style: italic;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
  
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-item > .personaje {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.grid-item > .personaje:hover {
  opacity: 0.7;
}

.grid-item > .personaje > a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
  
.grid-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 40px;
    grid-auto-flow: dense;
}

.creditos {
  text-align: right;
  font-size: 0.8rem;
  padding: 0px 40px 20px 40px;
}

.big-banner {
  width: 100%;
  margin-top: 40px;
}

.lista-fuentes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.fuente, .licencia {
  background-color: rgb(244, 246, 247);
  padding: 2rem;
}

.fuente dt, .licencia dt {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.fuente dd, .licencia dd {
  margin: 0;
  line-height: 1.5rem;
}


@media (max-width: 1000px) {
  header {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
  }

  header > nav {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  nav > ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 0px 0px 0px;
  }

  .presentacion > .contenido, .detalle > .contenido, .enlaces > .contenido {
    display: block;
  }

  .presentacion > .contenido > .imagen, .enlaces > .contenido > .imagen {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .detalle > .contenido > .imagen {
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .detalle > .contenido > .texto > h2 {
    margin-top: 20px;
  }
  
}

@media (max-width: 640px) {
  header {
    display: block;
  }

  header > .logo {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .presentacion > .contenido > .texto.ancho > figure {
    padding-left: 0px;
    padding-right: 0px;
  }

  .grid-images-container {
    grid-auto-rows: minmax(300px, auto);
  }
}

@media (min-width: 640px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
}

@media (max-width: 540px) { 
  nav > ul {
    display: block;
  }

  nav > ul > li {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .intro {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 340px) { 
  .grid-images-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}