@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Averia Serif Libre', serif;
}

header {
  padding: 40px 40px 0px 40px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

h1 {
  margin-bottom: 20px;
}

nav > ul {
  display: grid;
  gap: 10px;
}

nav > ul > li {
  text-transform: uppercase;
  background-color: #016936;
  border-radius: 30px;
  width: 100%;
  padding: 13px;
  font-size: 1rem;
  font-weight: lighter;
  list-style: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

nav > ul >li:hover {
  transform: scale(1.04);
  font-weight: bold;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.intro {
  padding: 40px 40px 0px 40px;
  text-align: center;
}

.intro > #contenido {
  font-size: 1.1rem;
}

#frase-celebre {
  font-weight: 700;
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 12px;
  display: block;
}

#frase-celebre::before {
  content: '<< ';
  font-size: 1rem;
  font-style: italic;
}

#frase-celebre::after {
  content: ' >>';
  font-size: 1rem;
  font-style: italic;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
  
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
  
.grid-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 40px;
    grid-auto-flow: dense;
}

.creditos {
  text-align: right;
  font-size: 0.8rem;
  padding: 0px 40px 20px 40px;
}

.big-banner {
  width: 100%;
  margin-top: 40px;
}

@media (max-width: 1000px) {
  header {
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }

  header > .logo {
    width: 100%;
  }

  header > nav {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  nav > ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 0px 0px 0px;
  }
  
}

@media (max-width: 640px) {
  header {
    display: block;
  }

  header > .logo {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media (min-width: 640px) {
    .wide {
      grid-column: span 2;
    }
  
    .tall {
      grid-row: span 2;
    }
}

@media (max-width: 540px) { 
  nav > ul {
    display: block;
  }

  nav > ul > li {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .intro {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 340px) { 
  .grid-images-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}